body {
    font-family: 'Times New Roman', Times, serif; font-size: 15pt;
    }
    h1 {
        font-family: 'Times New Roman', Times, serif; font-size: 23pt;
    }
    h2 {
        font-family: 'Times New Roman', Times, serif; font-size: 18pt;
    }
